apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-name
spec:
  selector:
    matchLabels:
      app: server-name
  replicas: 6
  template:
    metadata:
      labels:
        app: server-name
    spec:
      containers:
      - name: server-name
        image: quay.io/guanwang/server-name:v1.0
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: server-name
  labels:
    app: server-name
spec:
  type: ClusterIP
  selector:
    app: server-name
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: server-name
  name: server-name
  annotations:
    haproxy.router.openshift.io/balance: roundrobin
    haproxy.router.openshift.io/disable_cookies: "true"
spec:
  host: server-name.apps.develop.beautytiger.com
  port:
    targetPort: 8080
  to:
    kind: Service
    name: server-name
    weight: 100
